<!DOCTYPE html>
<html lang="en">
<%- include head.ejs %>
<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <% if(!auth) { %>
        <%- include('navbar.ejs', {auth: auth}); %>
    <% } else { %>
        <%- include('navbar.ejs', {user: user, auth: auth}); %>
    <% } %>

    <%- include('title.ejs', {title: "Tasks"}) %>

    <div class="site-section"  data-aos="fade">
        <div class="container">

            <%- include('details_table.ejs', {task: task, formatted_task_date: formatted_task_date})%>
            <div class="row justify-content-center">
                <% if (section == 1) { %>
                    <form action="/details/bid" class="p-5 bg-white" method="post">
                        <input type="hidden" id="tid" name="tid" value="<%=task[0].tid%>" class="form-control">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="Bid">Bid With: </label>
                                <input type="number" id="bid" name="bid" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Bid" class="btn btn-primary col-md-12 text-white">
                            </div>
                        </div>
                    </form>
                <$ } else { $>
                    <form action="/" class="p-5 bg-white" method="post"></form>
                    </form>
                <% } %>
            </div>
        </div>
    </div>
    <%- include footer.ejs %>
</div>

<%- include script.ejs %>

</body>
</html>