<!DOCTYPE html>
<html lang="en">
<%- include head.ejs %>
<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <% if(!auth) { %>
        <%- include('navbar.ejs', {auth: auth}); %>
    <% } else { %>
        <%- include('navbar.ejs', {user: user, auth: auth}); %>
    <% } %>

    <%- include('title.ejs', {title: "Tasks"}) %>

    <div class="site-section"  data-aos="fade">
        <div class="container">

            <%- include('details_table.ejs', {task: task, formatted_task_date: formatted_task_date})%>
            <% if (section == 1) { %>
                <div class="row justify-content-center">
                    <form action="/details/bid" class="p-5 bg-white" method="post">
                        <input type="hidden" id="tid" name="tid" value="<%=task[0].tid%>" class="form-control">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="text-black" for="Bid">Bid With: </label>
                                <input type="number" id="bid" name="bid" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Bid" class="btn btn-primary col-md-12 text-white">
                            </div>
                        </div>
                    </form>
                </div>
            <% } else if (section == 2) { %>
                <% if (bidders.length == 0) { %>
                    <label class="text-black">No bidders available</label>
                <% } else { %>
                    <label class="text-black"> Bidders</label>
                <% } %>
                <table class="table" style="width:100%">
                    <tbody>
                        <% for(var i=0; i < bidders.length; i++) { %>
                            <tr>
                                <td colspan="4">
                                  <div class = "card">
                                    <div class="card-body">
                                    <h5 class="card-title"><%= bidders[i].bidder_name %></h5>
                                    <p class="card-text">Salary: <%= bidders[i].salary%></p>
                                        <input type="hidden" id="salary" name="salary" value="<%=bidders[i].salary%>" class="form-control">
                                        <input type="hidden" id="tid" name="tid" value="<%=bidders[i].tid%>" class="form-control">
                                        <input type="hidden" id="bidder_id" name="bidder_id" value="<%=bidders[i].bidder_id%>" class="form-control">
                                      <form action="/view_user_details">
                                        <div style="display: flex;">
                                          <button class="col-md-12
                                          btn-primary" id='aid' name='aid'
                                                  value="<%= bidders[i].bidder_id%>"
                                                  onclick="this.form
                                          .submit()">
                                            View Profile
                                          </button>
                                        </div>
                                      </form>
                                      <form action="/details/select_bid" method="post">
                                      <div style="display: flex;">
                                            <button class="col-md-12 btn-outline-primary" onclick="this.form.submit()">
                                              Select Bidder
                                            </button>
                                      </div>
                                    </form>

                                    </div>
                                  </div>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <form action="details/system_select" method="post">
                    <input type="hidden" id="tid" name="tid" value="<%=task[0].tid%>" class="form-control">
                    <input type="hidden" id="date" name="date" value="<%=task[0].task_date%>" class="form-control">
                    <button class="col-md-12 btn-outline-primary" onclick="this.form.submit()">
                      Help Select Tasker
                    </button>
                </form>
            <% } else if (section == 3 || section == 4 || section == 5) {%>
                <label class="text-black">Assigned Tasker:</label>
                <div class = "card">
                  <h5 class="card-title"><%= bidder[0].username %></h5>
                  <p class="card-text">Salary: <%= bidder[0].salary%></p>
                </div>
                <% if(section == 4) { %>
              <form action="/view_user_details">
                <div style="display: flex;">
                  <button class="col-md-12
                                          btn-primary" id='aid' name='aid'
                          value="<%= bidder[0].aid%>"
                          onclick="this.form.submit()">
                    View Profile
                  </button>
                </div>
              </form>
                    <form action="/update_task">
                        <input type="hidden" id="tid" name="tid" value="<%=task[0].tid%>" class="form-control">
                        <button class="col-md-12 btn-outline-primary" onclick="this.form.submit()">
                            Task Completed
                        </button>
                    </form>
                <% } else if(section == 5){ %>
                    <form action="/update_task">
                        <input type="hidden" id="tid" name="tid" value="<%=task[0].tid%>" class="form-control">
                        <button class="col-md-12 btn-outline-primary" onclick="this.form.submit()">
                            Give Reviews
                        </button>
                    </form>
                <% } else {}%>
            <% } else if ( section == 6) {%>
            <label class="text-black">Task Not Available:</label>
                <div class = "card">
                    <h5 class="card-title"><%= task[0].title %></h5>
                    <p class="card-text"><%= task[0].status %></p>
                </div>
            <% } else { %>
            <% } %>
        </div>
    </div>
    <%- include footer.ejs %>
</div>

<%- include script.ejs %>

</body>
</html>
