<!DOCTYPE html>
<html lang="en">
<%- include head.ejs %>
<body>

<div class="site-wrap">

    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <%- include navbar.ejs %>

    <%- include('title.ejs', {title: "Tasks"}) %>

    <div class="site-section"  data-aos="fade">
        <div class="container">

            <div class="row mb-5">
                <div class="text-left border-primary">
                    <h2 class="font-weight-light text-primary pb-3">List of Tasks ...</h2>
                </div>
            </div>
            <table class="table">
                    <thead>
                        <tr>
                            <form id="tableForm" action="/tasks" method="get">
                            <th scope="col">
                                <select id="type" name="type">
                                    <optgroup label="Type">
                                        <option name="" value=""><%= type %></option>
                                        <% for (var i = 0; i < types.length; i++) { %>
                                            <option name="tableType"><%= types[i].cname %></option>
                                        <% } %>
                                    </optgroup>
                                </select>
                            </th>
                            <th scope="col">Date</th>
                            <th scope="col">Salary</th>
                            <th scope="col">
                                <select data-style="btn-info" id="region" name="region">
                                    <optgroup label="Region">
                                        <option name="" value="">Region</option>
                                        <% for (var i = 0; i < regions.length; i++) { %>
                                            <option name="tableType"><%= regions[i].rname %></option>
                                        <% } %>
                                    </optgroup>
                                </select>
                            </th>
                            <th><input type="submit" value="Filter" class="btn btn-white"></th>
                            </form>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < tasks.length; i++) { %>
                            <tr>
                            <p class = "title"><%= tasks[i].title %></p>
                            <%= tasks[i].task_date %>
                            <%= tasks[i].salary %>
                            <%= tasks[i].rname %>
                            </tr>
                        <% } %>
                        <tr>
                            <td colspan="4">
                                <div class = "card">
                                    <h5 class="card-title">A0000002B</h5>
                                    <p class="card-text">TestTestTestTestTestTestTestTestTestTestTestTestTestTest</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
    </div>
    <%- include footer.ejs %>
</div>

<%- include script.ejs %>

</body>
</html>