<!DOCTYPE html>
<html lang="en">
<%- include head.ejs %>
<body>

<div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <%- include('navbar.ejs', {auth: auth}) %>

  <%- include('title.ejs', {title: "Posted Tasks"}) %>

  <div class="site-section"  data-aos="fade">
    <div class="container">

      <div class="row mb-5">
        <div class="text-left border-primary">
          <h2 class="font-weight-light text-primary pb-3">Viewing all
            posted tasks.</h2>
        </div>
      </div>
      <table class="table">
        <tbody>
        <% for(var i=0; i < tasks_list.length; i++) { %>
        <tr>
          <td colspan="4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= tasks_list[i].title %></h5>
                <p class="card-text">Task Date: <%= tasks_list[i].task_date %></p>
                <p class="card-text">Start Time: <%= tasks_list[i].start_time %></p>
                <p class="card-text">End Time: <%= tasks_list[i].end_time %></p>
                <p class="card-text">Description: <%= tasks_list[i].description %></p>
                <form action="/view_task_details">
                  <div style="display: flex;">
                    <button class="col-md-12 btn-outline-primary" id="tid" name="tid" value="<%=i%>" onclick="this.form.submit()">
                    View Details
                  </button>
                  </div>
                </form>
              </div>
            </div>
          </td>
        </tr>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <%- include footer.ejs %>
</div>

<%- include script.ejs %>

</body>
