<!DOCTYPE html>
<html lang="en">
<%- include head.ejs %>
<body>

<div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <%- include('navbar.ejs', {auth: auth}) %>

  <%- include('title.ejs', {title: "Registered Users"}) %>

  <div class="site-section"  data-aos="fade">
    <div class="container">

      <div class="row mb-5">
        <div class="text-left border-primary">
          <h2 class="font-weight-light text-primary pb-3">Viewing all
            registered users.</h2>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <form id="tableForm" action="/view_users" method="get">
            <th scope="col" style="width:25%;">
              <select class="browser-default custom-select" id="type" name="type" onchange="this.form.submit()">
                <optgroup label="Type">
                  <option name="tableType">Type</option>
                  <% for (var i = 0; i < types.length; i++) { %>

                      <option name="tableType"><%= types[i].cname %></option>

                  <% } %>
                </optgroup>
              </select>
            </th>
            <th scope="col" style="width:25%;">
              <select class="browser-default custom-select" id="date" name="date" onchange="this.form.submit()">
                <optgroup label="Date">
                  <option name="tableType">Date</option>
                  <% for (var i = 0; i < dates.length; i++) { %>

                      <option name="tableType"><%= dates[i] %></option>

                  <% } %>
                </optgroup>
              </select>
            </th>
            <th scope="col" style="width:25%;">
              <select class="browser-default custom-select" id="range" name="range" onchange="this.form.submit()">
                <optgroup label="Salary">
                  <option name="tableType">Salary</option>
                  <% for (var i = 0; i < ranges.length; i++) { %>
                      <option name="tableType"><%= ranges[i] %></option>

                  <% } %>
                </optgroup>
              </select>
            </th>
            <th scope="col" style="width:25%;">
              <select class="browser-default custom-select" id="region" name="region" onchange="this.form.submit()">
                <optgroup label="Region">
                  <option name="tableType">Region</option>
                  <% for (var i = 0; i < regions.length; i++) { %>

                      <option name="tableType"><%= regions[i].rname %></option>

                  <% } %>
                </optgroup>
              </select>
            </th>
          </form>
        </tr>
        </thead>
        <tbody>

        <%
          for (var i = 0; i < users_list.length; i++) {
          var cur_user = users_list[i];
        %>
        <tr>
          <td colspan="4">
            <div class = "card">
              <h5 class="card-title"><%= cur_user.username %></h5>
              <form action="/details">
                <div style="display: flex;">
                  <button class="col-md-6 btn-outline-primary" id="tid" name="tid" value="1" onclick="this.form.submit()">
                    View Details
                  </button>
                  <button class="col-md-6 btn-primary" id="tid" name="tid" value="1" onclick="this.form.submit()">
                    Delete
                  </button>
                </div>
              </form>
            </div>
          </td>
        </tr>
        <<% } %>>
        </tbody>
      </table>
    </div>
  </div>
  <%- include footer.ejs %>
</div>

<%- include script.ejs %>

</body>
