<!DOCTYPE html>
<html lang="en">
<%- include head.ejs %>
<body>

<div class="site-wrap">

  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <%- include('navbar.ejs', {auth: auth}) %>

  <%- include('title.ejs', {title: "Registered Users"}) %>

  <div class="site-section"  data-aos="fade">
    <div class="container">

      <div class="row mb-5">
        <div class="text-left border-primary">
          <h2 class="font-weight-light text-primary pb-3">Viewing all
            registered users.</h2>
        </div>
      </div>
      <table class="table">
        <tbody>
        <% for(var i=0; i < users_list.length; i++) { %>
        <tr>
          <td colspan="4">
            <div class="card">
              <h5 class="card-title"><%= users_list[i].username %></h5>
              <p class="card-text">Region: <%= users_list[i].rname %></p>
              <p class="card-text">Score: <%= users_list[i].score %></p>
              <form action="/view_user_details">
                <div style="display: flex;">
                  <button class="col-md-12 btn-outline-primary" id="aid" name="aid" value="<%=i+1%>" onclick="this.form.submit()">
                    View Details
                  </button>
                </div>
              </form>
          </td>
        </tr>
        <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <%- include footer.ejs %>
</div>

<%- include script.ejs %>

</body>
